h1{font-family:Comic Sans MS;}
h5{font-family:Comic Sans MS;text-indent:50px;text-align:Justify}
li{font-family:Comic Sans MS;font-size:13px;width:800px;text-align:Justify;}
body{background-color:orange;}
img {position:relative;left:500px}

